{% raw %}#* @vtlvariable name="action" type="com.atlassian.confluence.user.actions.LoginAction" *#
#macro (errorBlock $msg)
<div class="error" tabindex="0"><p>$msg</p></div>
#end

#set($showSignup = $action.isShowSignUp())
#set($mobileAppWebView = $action.isMobileAppWebView())


<html>
	<head>{% endraw %}
	  <script type="text/javascript">
        var ssoUrl = '{{ ATL_SSO_LOGIN_URL | default('') | replace("'", "\\'") }}';
        var contextPath = '{{ ATL_TOMCAT_CONTEXTPATH | default('') | replace("'", "\\'") }}';

        var url = new URL(window.location.href);
		var autoLogin = url.searchParams.get("auto_login");
		if (autoLogin === null || autoLogin === undefined) {
	      autoLogin = "true";
	    }
        var logout = url.searchParams.get("logout");
		var osDestination = url.searchParams.get("os_destination");

        osDestination = osDestination ? osDestination : "";
		
		var loginLoopCheck = getCookie("loginLoopCheck");
		
		if (!loginLoopCheck) {
	      setCookie("loginLoopCheck", "true", contextPath, 1 * 60 * 1000);
	    } else {
	      autoLogin = false;
	    }
		
		if (!(logout && logout === "true")) {
          if (autoLogin && autoLogin.toLowerCase() === "true") {
		    login();
	      } 
		}
		
		function login() {
		  window.location.replace(ssoUrl + '?redirectTo=' + encodeURIComponent('https://' + window.location.host + contextPath + osDestination));
		}

		function setCookie(name, value, path, lifeLength) {
	      var expires = "";
		  var date = new Date();
		  date.setTime(date.getTime() + lifeLength);
		  expires = "; expires=" + date.toUTCString();
		  document.cookie = name + "=" + (value || "") + expires + "; path=" + path;
	    }
	  
	    function getCookie(name) {
          var nameEQ = name + "=";
          var ca = document.cookie.split(';');
          for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
		      c = c.substring(1, c.length);
		    }
            if (c.indexOf(nameEQ) == 0) {
		      return c.substring(nameEQ.length, c.length);
		    }
          }
          return null;
        }
      </script>
	    {% raw %}
        #requireResource("confluence.web.resources:master-styles")
        #requireResource("confluence.web.resources:login")
        #requireResource("confluence.web.resources:aui-forms")
        #requireResource("com.atlassian.confluence.plugins.confluence-scriptsfinished-plugin:scriptsfinished")
	    #if( $fromNotPermitted )
		    <title>$i18n.getText("title.not.permitted")</title>
	    #else
		    <title>$action.getActionName($action.getClass().getName())</title>
		    <content tag="pageTitle"><a href="${req.contextPath}/homepage.action">$action.globalSettings.siteTitle</a></content>
		#end

        #if ($action.shouldShowMobileBanner())
            #webPanelForLocation("atl.mobile.banner" $context)
        #end
    </head>
	<body>
	<a href="#" onclick="login()">Click Here to Login</a>
	</body>
</html>{% endraw %}
